@use "../../styles/global.scss" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/variables" as *;


.page-body {
    background-color: white;
    margin: -5rem 1rem 5rem;
    border-radius: 5px;

    @include tablet {
        margin: -5.5rem 2rem 5.5rem;
    }

    @include desktop {
        max-width: $desktop-breakpoint;
        margin: -5.5rem auto 5.5rem;
    }
}

.inventory-header {
    padding-left: 1rem;
    padding-right: 1rem;
    border-bottom: 1px solid $divider;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;

    &__edit-button {
        background-color: $interactive-elements;
        color: $white-global;
        border-radius: 25px;
        width: 5rem;
        height: 2.5rem;
        text-align: center;
        display: none;
        justify-content: center;
        border: none;

        &:hover {
            background-color: $bg-hover-header;
        }

        @include tablet {
            display: flex;
            align-items: center;
        }
    }



    &__edit-button__mobile {
        background-color: $interactive-elements;
        color: $white-global;
        border-radius: 25px;
        width: 2.5rem;
        height: 2.5rem;
        text-align: center;
        justify-content: center;

        @include tablet {
            display: none;
        }
    }
}



.editButton-image {
    filter: brightness(0) invert(1)
}

.inventory-body {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    display: flex;
    flex-direction: column;

    @include tablet {
        flex-direction: row;
    }
}

.inventory-container {
    @include tablet {
        padding-bottom: 1rem;
    }
}

.inventory-container-status-quantity {
    display: flex;
    flex-direction: row;
}

.inventory-container-status-quantity-warehouse {
    @include tablet {
        width: 100%;
        border-left: 1px solid $divider;
        padding-left: 1rem;
    }
}

.info-title {
    @include h4-mobile;
    color: $table-colum-ph;
    width: 50%;

    @include tablet {
        width: 30%;
    }
}

.info-details {
    @include body-medium-mobile
}